/*
Размер элемента будет включать в себя рамку и внутренний отступ.
*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}
