table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.no_borders * {
    border: none;
    padding: 0;
}

.button {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: #1a73e8;
    border: none;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #2b84f9;
}

#error {
    background-color: red;
    color: white;
    padding: 1%;
}

.warehouseDocument {
    border: 1px #777 solid;
    padding: 1%;
    cursor: pointer;
}

div {
    margin-top: 10px;
}

.elementForPicking {
    display: none;
}

.elementForPacking {
    display: none;
}

h3 {
    margin-top: 10px;
}

#FilterBlock {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
    background-color: white;
    padding: 5px;
    margin: 0;
}

.config {
    margin: 0;
    padding: 10px;
}

.config__title {
    margin-bottom: 10px;
}

.comment__text {
    margin: 0;
}
